<html>
<body>

<table>
    <tr>
        <th>Project Name</th>
        <th>Quality Gate</th>
    </tr>
    #foreach ( $project in ${projects} )
    <tr>
        <td><a href="${project.links.home}">${project.name}</a></td>
        <td>${project.projectStatus.status}</td>
    </tr>
    #end
</table>
</body>
</html>